@charset "utf-8";
body {
  background-color: #f2f2f2;
  color: #333;
  font-family: "Lato";
}

img {
  vertical-align: bottom;
}

.inner {
  margin: 0 auto;
  width: 1100px;
}

.clearfix {
  display: block;
  content: "";
  clear: both;
}

/* header */
.header {
  background-color: #fff;
  left: 0;
  line-height: 1;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.header_inner {
  padding: 15px;
}

.header_btn {
  background-color:	#74cfae;
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  float: right;
  padding: 14px 12px;
  transition: 0.3s all;
}

.header_btn:hover {
  color: #333;
  cursor: pointer;
}


/* main */
.adjustment {
  padding-top: 78px;
}

/* theme */
.theme {
  text-align: center;
}

.theme_inner {
  padding: 250px 0;
}

.theme_text_contents {
  color: #74cfae;
  font-family: "Raleway";
  font-size: 90px;
  font-weight: 700;
}

.theme_subtitle {
  color: #c0c0c0;
  font-size: 30px;
  font-weight: lighter;
  margin-top: 20px;
}

/* section_intro */
.section_intro {
  background-color: #74cfae;
  width: 100%;
}

.section_intro_inner {
  display: flex;
  padding-top: 50px;
}

.section_intro_img {
  display: block;
  padding-left: 100px;
}

.section_intro_text_container {
  display: block;
  line-height: 30px;
  margin-left: 200px;
  text-align: center;
  width: 60%;
}

.h_font {
  font-family: "Raleway";
  font-size: 24px;
  text-align: center;
}

.section_intro_h2 {
  color: #fff;
}

.section_intro_text {
  color: #fff;
  font-size: 20px;
  margin-top: 35px;
}


/* article */
.article_inner {
  padding-top: 60px;
  padding-bottom: 70px;
}

.article_h2 {
  font-weight: lighter;
}

.article_list_container {
  display: block;
  font-size: 0;
  margin-top: 40px;
}

.article_list {
  display: inline-block;
  margin-left: 100px;
  margin-bottom: 80px;
}

.article_img {
  opacity: 0.7;
  transition: 0.3s all;
}

.article_img_link {
  display: block;
}

.article_img_link:hover .article_img {
  opacity: 1;
}

.article_list:nth-child(3n-2) {
  margin-left: 0;
}

.article_text_container {
  text-align: center;
  width: 90%;
}

.article_text {
  display: inline-block;
  font-size: 20px;
  font-weight: lighter;
  width: 550px;
  vertical-align: middle;
}

.articla_btn {
  background-color:	#74cfae;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  margin-left: 90px;
  padding: 14px 20px;
  text-decoration: none;
  transition: 0.3s all;
  vertical-align: middle;
}

.articla_btn:hover {
  color: #333;
}

/* section_skill */
.section_skill {
  background-color: #4e4e4e;
}

.section_skill_inner {
  padding-top: 70px;
  padding-bottom: 100px;
}

.section_skill_h2 {
  color: #fff;
}

.section_skill_container {
  line-height: 30px;
  margin-top: 30px;
  text-align: center;
}

.section_skill_contents {
  display: inline-block;
  margin-left: 180px;
}

.section_skill_contents:first-child {
  margin-left: 0;
}

.section_skill_text {
  color: #fff;
  font-size: 16px;
  line-height: auto;
  margin-top: 10px;
  text-align: center;
}


/* nav */
.fa-style {
  color: #74cfae;
}

.nav_inner {
  padding: 200px 0;
}

.nav_list_container {
  display: flex;
  justify-content: center;
}

.nav_link {
  display: block;
  flex-direction: row;
  padding: 20px 0;
  text-align: center;
  transition: 0.3s all;
  width: 185px;
}

.nav_link:hover {
  background-color: #fff;
  cursor: pointer;
}


/* footer */
.footer {
  background-color: #74cfae;
}

.footer_inner {
  padding: 20px 0 25px;
}

.footer_text {
  color: #fff;
  text-align: right;
}